.info-title {
    font-family: 'Overpass';
    font-weight: bold;
    font-size: 3rem;
}

.info-info {
    font-size: 1.5rem;
    font-family: 'Overpass';
    line-height: 2.2rem;
    width: 35rem;
    color: #767676;
    margin-top: 1.52rem
}

.info-button{
    width: 15rem;
    height: 3.625rem;
    color: #fff;
    background-color: #27AE50;
    border-radius: 3.4rem;
    border: none;
    font-family: 'Overpass';
    font-size: 1.5rem;
    margin-top: 4rem;
}